.content__lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 984px;
}

.content__intro {
  max-width: 984px;
  margin: 92px 0 0 0;
}

.content__photo-grid {
  margin: 118px 0 0 0;
  max-width: 1184px;
}

.content__places {
  max-width: 987px;
  margin: 92px 0 0 0;
}

@media screen and (max-width: 768px) {
  .content__lead {
    max-width: 768px;
  }

  .content__intro {
    max-width: 720px;
    margin: 90px 0 0 0;
  }

  .content__photo-grid {
    margin: 64px 0 0 0;
    max-width: 720px;
  }

  .content__places {
    max-width: 720px;
    margin: 88px 0 0 0;
  }
}

@media screen and (max-width: 320px) {
  .content__lead {
    max-width: 320px;
  }
  .content__intro {
    max-width: 288px;

    margin: 64px 0 0 0;
  }

  .content__photo-grid {
    margin: 38px 0 0 0;
    max-width: 288px;
  }

  .content__places {
    max-width: 320px;
    margin: 62px 0 0 0;
  }
}
