.places__place {
  display: grid;
  grid-template-columns: 0.95fr 1fr;
  column-gap: 40px;
  margin: 80px 0 0 0;
}

.places__place:first-of-type {
  margin: 0;
}

.places__title {
  font-size: 72px;
  margin: 0;
  font-weight: 900;
  line-height: 106%;
}

.places__image-content {
  grid-row: 2/4;
  grid-column: 1/2;
  margin: 48px 0 0 0;
  max-width: 460px;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}

.places__image {
  width: 100%;
  height: 100%;
}

.places__image:hover {
  opacity: 0.5;
}

.places__link-nft {
  grid-row: 4/5;
  width: 289px;
  height: 48px;
  margin-top: 48px;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.places__link-nft:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
}

.places__website {
  align-self: self-end;
}

.places__artist {
  text-transform: uppercase;
  margin: 0 0 8px 0;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.12em;
  color: #aaa;
}

.places__website-paragraph {
  font-size: 18px;
  margin: 0;
  line-height: 122%;
}

.places__texts {
  grid-row: 2/6;
  margin-top: 48px;
}

.places__paragraph {
  font-size: 18px;
  line-height: 163%;
  max-width: 484px;
  margin: 25px 0 0 0;
}

.places__paragraph:nth-of-type(1) {
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .places__place {
    display: grid;
    grid-template-columns: 0.965fr 1fr;
    column-gap: 28px;
    margin: 88px 0 0 0;
  }

  .places__place:first-of-type {
    margin: 0;
  }

  .places__title {
    font-size: 42px;
    line-height: 110%;
  }

  .places__image-content {
    max-width: 340px;
  }

  .places__image:hover {
    opacity: 1;
  }

  .places__link-nft:hover {
    background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  }

  .places__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .places__place {
    grid-template-columns: 1fr;
    column-gap: initial;
    margin: 50px 0 0 0;
    justify-items: center;
  }

  .places__place:first-of-type {
    margin: 0;
  }

  .places__title {
    font-size: 32px;
    line-height: 109%;
    align-self: flex-end;
    width: 288px;
  }

  .places__website {
    grid-row: 2/3;
    grid-column: 1/2;
    margin: 30px 0 0 0;
    width: 288px;
  }

  .places__artist {
    width: 100%;
  }

  .places__image-content {
    grid-row: 3/4;
    grid-column: 1/2;
    margin: 30px 0 0 0;
    box-shadow: none;
  }

  .places__texts {
    grid-row: 4/5;
    grid-column: 1/2;
    max-width: 288px;
    margin: 30px 0 0 0;
  }

  .places__link-nft {
    grid-row: 5/6;
    grid-column: 1/2;
    font-size: 14px;
  }
}
